[color]
  branch = auto
  grep = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto

[commit]
  gpgsign = true

[core]
  editor = nvim
  excludesfile = ~/.gitignore
  ignorecase = false

[init]
  defaultBranch = main

[pull]
  ff = only

[push]
  default = simple

[tag]
  gpgsign = true

[user]
  name = Slava M.
  email = 28267670+slavafyi@users.noreply.github.com
  signingkey = 93BF899239FE0933

[includeIf "gitdir:~/dev/nx/"]
  path = ~/dev/nx/.gitconfig
