[color]
  branch = auto
  grep = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto

[commit]
  gpgsign = true

[core]
  editor = nvim
  excludesfile = ~/.gitignore
  ignorecase = false

[init]
  defaultBranch = main

[pull]
  ff = only

[push]
  default = simple

[tag]
  gpgsign = true

[user]
  name = Slava M.
  email = mailer@noreply.slava.fyi
  signingkey = D03B14E28F60B4A28BEC2F4012E2F9BEE23B3B8D!

[includeIf "gitdir:~/dev/nx/"]
  path = ~/dev/nx/.gitconfig
